@page
@model WebApp.Pages.Admin.Course.ListModel
@{
    Layout = "_ManagementLayout";
}
<div class="popular-courses">
    <h2 class="courses-title mt-5 px-5">Điều hành khóa học</h2>
    <div class="popular-header px-5">
        <p class="popular-des">Học sáng tạo, thành công vượt trội</p>
        <a class="popular-button text-decoration-none" href="Create">Add course</a>
    </div>
   
        @* <div class="alert alert-success"> *@
        @*     @TempData["SuccessMessage"] *@
        @* </div> *@
    <div class="row mt-4 px-5">
        <div class="col-6 d-flex align-items-center">
            <span class="fs-3 me-3">Show</span>
            <select class="drop-show_number" id="pageSize" onchange="submitForm()">
                <option value="2">2</option>
                <option value="4">4</option>
                <option value="6">6</option>
            </select>
            <span class="fs-3 ms-3">Course</span>
        </div>
        <div class="col-6">
            <div class="d-flex align-items-center justify-content-end">
                <div class="">
                    <div class="sort-btn_manager">
                        <span class="sort-title">Sort by</span>
                        <i class="fa-solid fa-sort"></i>
                        <div class="sort_fields">
                            <ul>
                                <li>
                                    <input type="radio" name="sortBy"  id="nameAsc" value="Title asc" onclick="submitForm()" />
                                    <label for="nameAsc"><span>Name asc</span></label>
                                </li>
                                <li>
                                    <input type="radio" name="sortBy" id="nameDesc" value="Title desc" onclick="submitForm()" />
                                    <label for="nameDesc"><span>Name desc</span></label>
                                </li>
                                <li>
                                    <input type="radio" name="sortBy" id="priceAsc" value="Price asc" onclick="submitForm()" />
                                    <label for="priceAsc"><span>Price asc</span></label>
                                </li>
                                <li>
                                    <input type="radio" name="sortBy" id="priceDesc" value="Price desc" onclick="submitForm()" />
                                    <label for="priceDesc"><span>Price desc</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="filter-category">
                        <span class="filter-title">Filter by Category</span>
                        <select  id="categoryFilter" onchange="submitForm()">
                            <option value="">All Categories</option>
                            <option value="">cate1</option>
                        </select>
                    </div>
                </div>
                <div class="">
                    <!-- <div class="filter-btn_manager">
                        <span class="filter-title">Filter</span>
                        <i class="fa-solid fa-filter"></i>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="courses-container" id="courses-container">
          
             
        </div>

        <div class="">
            <ul class="d-flex align-items-center pagination" id="pagination">
           
            </ul>
        </div>
    </div>
</div>
<script>
    let pageSize = 5; // Số mục trên mỗi trang
    let currentPage = 1;
    let totalPages = 1;
    let orderby = "Id asc"
    function submitForm() {
        const pageSizeValue = document.getElementById('pageSize').value;
        const sortBy = document.querySelector('input[name="sortBy"]:checked')?.value;
        const searchTxt = document.querySelector('input[name="searchTxt"]').value;
        const category = document.getElementById('categoryFilter').value;
        pageSize = pageSizeValue;
        orderby = sortBy?sortBy:"Id asc"
       console.log({
            pageSize: pageSize,
            sortBy: sortBy || "",
            searchTxt: searchTxt,
            categoryId: category
        })
        fetchProducts(1)
    }
         let courseContainer = document.getElementById("courses-container")
        function fetchProducts(page) {
            console.log(page)
            let skip = (page - 1) * pageSize
             console.log(skip)
            $.ajax({
                url:'https://api.2handshop.id.vn/odata/Course?$count=true&$top='+pageSize+"&$skip="+skip+"&$orderBy="+orderby,
                type: "GET",
                success: function (data) {
                    let courses = data.value;
                    
                     let totalItems = Object.values(data)[1]; // Lấy odata.count
                     totalPages = Math.ceil(totalItems / pageSize);
                     console.log(totalPages);
                    //pagination
                    renderCourses(courses);
                    renderPagination();
                },
                error: function (error) {
                    console.log(`Error ${error}`);
                }
            });
        }

        function renderCourses(courses) {
            let html = ``;
           for (let i = 0; i < courses.length; i++) {
                        let course = courses[i];
                        html += `
                           <a class="courses-item text-decoration-none learned-false index-1" href="/Admin/Course/Detail/${course.Id}">
                    <div class="courses-item__link">
                        <img src="${course.Thumbnail}" alt="Course Thumbnail" style="height: 200px;" />
                        <div class="actionHover">
                            <button class="courses-item__btn" data-course-index="1">Xem khóa học</button>
                        </div>
                    </div>
                    <div class="course-info">
                        <span class="course-info__type">cate</span>
                        <h3 class="course-info__name">
                           ${course.Title}
                        </h3>
                        <div class="course-count">
                            <div class="student-count">
                                <i class="fa-regular fa-user"></i>
                                <span>3</span>
                            </div>
                            <div class="price-count">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <span>${course.Price}</span>
                            </div>
                        </div>
                    </div>
                </a>
                        `
                    }
           courseContainer.innerHTML = html;
        }

        function renderPagination() {
             const pagination = document.getElementById("pagination");
             pagination.innerHTML = "";

        if (currentPage > 1) {
                 pagination.innerHTML += `<li class="pagination-btn">
                     <a href="#" onclick="changePage(${currentPage - 1})">
                         <i class="fa-solid fa-chevron-left"></i>
                     </a>
                 </li>`;
        }

        for (let i = 1; i <= totalPages; i++) {
            pagination.innerHTML += `<li class="pagination-btn ${i === currentPage ? 'active' : ''}">
                <a href="#" onclick="changePage(${i})">${i}</a>
            </li>`;
        }

        if (currentPage < totalPages) {
            pagination.innerHTML += `<li class="pagination-btn">
                <a href="#" onclick="changePage(${currentPage + 1})">
                    <i class="fa-solid fa-chevron-right"></i>
                </a>
            </li>`;
         }
        }

        function changePage(page) {
         if (page >= 1 && page <= totalPages) {
            currentPage = page;
            fetchProducts(page);
         }
        }

    // Gọi hàm để load trang đầu tiên
       fetchProducts(currentPage)
</script>